h3 {
  text-align: center;
}

ul {
  padding-left: 20vw;
}

li {
  line-height: 2em;
}

.main-content {
  margin-top: 20%;
  text-align:center;
  font-size: 50px;
}

.footer-content {
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    width: 100%;
}

.footer-content label {
   width: 100%;
   text-align: center;
}