
.dates {
  font-size:18px !important;
  color: black ;
}


.dateform{
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 5vw;
}


input[type=text] {
  padding: 12px 20px;
  font-size: 28px;
  color: black;
  width: 120px;
  text-align: center;
}

  input[type=text]:focus {
    border: 5px solid #34B66B;
  }

